@page "/Products/Index"
@using Shared.Model
@using System.Text.Json
@inject HttpClient httpClient

<PageTitle>Products</PageTitle>
<h3>Products Page</h3>
<button class="btn btn-primary" style="margin-bottom:20px">Add Products</button>

<table class="table table-bordered table-striped shadows">
    <thead>
        <tr>
            <th>
                It.
            </th>
            <th>
                Id.
            </th>
            <th>
                Product Name
            </th>    
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>10040</td>
            <td>Salsa de Tomate de 400gr</td>
            <td>$250.41</td>
            <td>Charcouteria</td>
            <td>50</td>
            <td>A50-10-10</td>
            <td><a href="#" class="mx-2">Update</a><a href="#" class="mx-2">Delete</a><a href="#">Details</a> </td>
        </tr>
        <tr>
            <td>2</td>
            <td>10041</td>
            <td>Mayonesa Hellmans 400gr</td>
            <td>$350.50</td>
            <td>Alimentos y Bebidas</td>
            <td>100</td>
            <td>A51-11-10</td>
            <td><a href="#" class="mx-2">Update</a><a href="#" class="m-2">Delete</a><a href="#">Details</a> </td>
        </tr>
        <tr>
            <td>3</td>
            <td>10042</td>
            <td>Salsa Rosada Albeca 400gr</td>
            <td>$200.50</td>
            <td>Alimentos y Bebidas</td>
            <td>100</td>
            <td>A51-11-10</td>
            <td><a href="#" class="mx-2">Update</a><a href="#">Delete</a> </td>
        </tr>
    </tbody>
</table>

@code {
    public static List<Product>? products = [];

    protected override async Task OnInitializedAsync()
    {
        products = await GetProducts();
    }

    public async Task<List<Product>> GetProducts()
    {
        try
        {
            var url = $"http://192.168.10.13:8080/api/products/getproducts";
            var response = await httpClient.GetAsync(url);
            if (response.IsSuccessStatusCode)
            {
                var respoString = await response.Content.ReadAsStringAsync();
                products = JsonSerializer.Deserialize<List<Product>>(respoString, new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
                return products!;
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine($"error : {ex.Message}");
        }
        return products!;
    }
}
